<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="global-font">
            Inventory
        </ion-title>
        <ion-button (click)="onNavigate()" fill="outline" color="light" shape="round" slot="end">Proceed</ion-button>

    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let inventory of inventoryList">
        <ion-item>
            <ion-avatar slot="start">
                <img src="../../assets/inventory/tranquilizer.jpg">
            </ion-avatar>
            <ion-label> {{inventory.name}} </ion-label>

            <ion-button [disabled]="!inventory.availability" (click)="onAddItem(inventory)" slot="end" fill="outline">
                <ion-icon name="add-circle-outline"></ion-icon>
                Add
            </ion-button>
        </ion-item>

        <ion-card-content>


            <div class="ion-float-left" *ngIf="inventory.availability">
                <span class="dot-green"></span> Available
            </div>
            <div class="ion-float-left" *ngIf="!inventory.availability">
                <span class="dot-red"></span> Unavailable
            </div>


            <ion-chip class="ion-float-right" outline="true">
                <ion-icon name="fitness" color="primary"></ion-icon>
                <ion-label>{{inventory.weight}} kg</ion-label>
            </ion-chip>
        </ion-card-content>
    </ion-card>

</ion-content>