<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="global-font">
            Inventory
        </ion-title>
        <ion-button [disabled]="tempUserBag.length==0" (click)="onNavigate()" fill="outline" color="light" shape="round" slot="end">
            <ion-icon src="../assets/icon/arrow-redo-sharp.svg"></ion-icon>
            Proceed</ion-button>

    </ion-toolbar>
</ion-header>
<div *ngIf="showProgress">
    <ion-progress-bar color="primary" type="indeterminate" reversed="true"></ion-progress-bar>
</div>
    <div class="spin" *ngIf="inventoryList.length==0">
        <ion-spinner color="primary" name="bubbles"></ion-spinner>
    </div>

<ion-content>
    <ion-card *ngFor="let inventory of inventoryList">
        <ion-item>
            <ion-avatar slot="start">
                <img src="{{inventory.image}}">
            </ion-avatar>
            <ion-icon src="../assets/icon/arrow-redo-sharp.svg" color="primary"></ion-icon>

            <ion-label> {{inventory.name}} </ion-label>
            <ion-item>
                <ion-label position="floating">Quantity</ion-label>
                <ion-input [(ngModel)]="inventory.units" value="{{inventory.units}}" type="number"></ion-input>
            </ion-item>
            <ion-button [disabled]="!inventory.availability || !inventory.units" (click)="onAddItem(inventory)" slot="end" fill="outline">
                <ion-icon name="add-circle-outline"></ion-icon>
                Add
            </ion-button>
        </ion-item>

        <ion-card-content>


            <div class="ion-float-left" *ngIf="inventory.availability">
                <span class="dot-green"></span> Available
            </div>
            <div class="ion-float-left" *ngIf="!inventory.availability">
                <span class="dot-red"></span> Unavailable
            </div>


            <ion-chip class="ion-float-right" outline="true">
                <ion-icon src="../assets/icon/barbell-sharp.svg" color="primary"></ion-icon>
                <ion-label>{{inventory.weight}} kg</ion-label>
            </ion-chip>
        </ion-card-content>
    </ion-card>


</ion-content>