<ion-header>

</ion-header>
<ion-content>

    <div class="container">
        <!-- <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
        </div> -->
        <ion-item>
            <ion-label position="stacked">Search</ion-label>
            <ion-input #search [(ngModel)]="searchControl" id="txtHome"></ion-input>
        </ion-item>
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
    </div>
</ion-content>

<ion-footer>
</ion-footer>