<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="global-font">
            Live Flight Parameters
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="globe" slot="start"></ion-icon>
            <ion-label>
                <div class="global-font">Latitude : {{latitude}}</div>
            </ion-label>

        </ion-item>

        <ion-item class="activated">
            <ion-icon name="globe" slot="start"></ion-icon>
            <ion-label>
                <div class="global-font">Longitude : {{longitude}}</div>
            </ion-label>
        </ion-item>

        <ion-item class="activated">
            <ion-icon name="trending-up" slot="start"></ion-icon>
            <ion-label>
                <div class="global-font">Altitude : {{altitude}}</div>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="speedometer" slot="start"></ion-icon>
            <ion-label>
                <div class="global-font">Velocity : {{velocity}}</div>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="speedometer" slot="start"></ion-icon>
            <ion-label>
                <div class="global-font">Distance to client : {{clientdist}}</div>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="speedometer" slot="start"></ion-icon>
            <ion-label>
                <div class="global-font">Distance to warehouse : {{warehousedist}}</div>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="speedometer" slot="start"></ion-icon>
            <ion-label>
                <div class="global-font">Time to reach client : {{clienttime}}</div>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="speedometer" slot="start"></ion-icon>
            <ion-label>
                <div class="global-font">Time to reach warehouse : {{warehousetime}}</div>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="speedometer" slot="start"></ion-icon>
            <ion-label>
                <div class="global-font">Vicinity : {{vicinity}}</div>
            </ion-label>
        </ion-item>
    </ion-card>

</ion-content>