<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="global-font">
            Missions
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let mission of missions">
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>From <b>{{mission.from}}</b></ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>To <b>{{mission.to}}</b></ion-label>
        </ion-item>
        <ion-item>
            <span class="dot-green"></span>
            <ion-label>Ongoing</ion-label>
        </ion-item>
        <ion-card-content>

            <ion-button (click)="presentModal(mission)" expand="full" slot="end">View Insights</ion-button>
            <ion-button color="secondary" (click)="goToMap(mission._id)" expand="full" slot="end">View on Google Map</ion-button>

        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!missions">
        <img width="100%" height="50%" src="../../assets/gif/404.gif" alt="Description" />
    </ion-card>
</ion-content>