<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="global-font">
            Missions
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>From <b>Fr Agnel</b> To <b>Taj Lands End</b></ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>

        <ion-card-content>
            <span class="dot-green"></span>
            <ion-label>Ongoing</ion-label>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>From <b>Mannat</b> To <b>Lilavati Hospital</b></ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>

        <ion-card-content>
            <span class="dot-red"></span>
            <ion-label>Completed</ion-label>
        </ion-card-content>
    </ion-card>
</ion-content>