<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="global-font">
            Drones
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let drone of droneList">
        <ion-item>
            <ion-avatar slot="start">
                <img src="../../assets/drones/alpha.jpg">
            </ion-avatar>
            <ion-label>Drone <b>{{drone.name}}</b></ion-label>
            <ion-chip>
                <ion-icon name="fitness" color="primary"></ion-icon>
                <ion-label>Capacity : {{drone.capacity}} kg
                </ion-label>
            </ion-chip>
            <ion-button *ngIf="!droneModalOpened" (click)="goToInventory(drone)" fill="outline" slot="end">Select</ion-button>
        </ion-item>

        <ion-card-content>


            <ion-label class="float-right" slot="end">



                <div *ngIf="drone.availability">
                    <span class="dot-green"></span> Available
                </div>
                <div *ngIf="!drone.availability">
                    <span class="dot-red"></span> Unavailable
                </div>



            </ion-label>

        </ion-card-content>
    </ion-card>
</ion-content>