<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar color="primary">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" (click)="navigate(p.url)">
                            <ion-icon slot="start" [src]="p.icon"></ion-icon>
                            <ion-label>
                                <div class="global-font">
                                    {{p.title}}
                                </div>
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
                <img width="100%" height="50%" src="../../assets/gif/drone.gif" alt="Description" />

            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>