<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="global-font">
            Schedule
        </ion-title>
        <ion-button [disabled]="!weightStatus" (click)="onNavigateInventory()" fill="outline" color="light" shape="round" slot="end">
            <ion-icon src="../assets/icon/arrow-undo-sharp.svg"></ion-icon>
            Revise Order?</ion-button>
        <ion-button [disabled]="!weightStatus" (click)="goToMap()" fill="outline" color="light" shape="round" slot="end">
            <ion-icon src="../assets/icon/arrow-redo-sharp.svg"></ion-icon>
            Deliver</ion-button>

    </ion-toolbar>
</ion-header>
<div *ngIf="showProgress">
    <ion-progress-bar color="primary" type="indeterminate" reversed="true"></ion-progress-bar>
</div>
<ion-content>

    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-icon src="../assets/icon/stats-chart-sharp.svg" color="primary"></ion-icon>

                <ion-label>Total Products = {{inventoryCount}} units</ion-label>
            </ion-item>

            <ion-item>
                <ion-icon src="../assets/icon/stats-chart-sharp.svg" color="primary"></ion-icon>

                <ion-label>Total product weight = {{inventoryWeight}} kgs</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon src="../assets/icon/stats-chart-sharp.svg" color="primary"></ion-icon>

                <ion-label>Total Drones = {{droneCount}} units</ion-label>
            </ion-item>
            <ion-item>
                <ion-icon src="../assets/icon/stats-chart-sharp.svg" color="primary"></ion-icon>

                <ion-label>Total Drone Capacity = {{droneCapacity}} kgs</ion-label>
            </ion-item>
            <!-- <ion-item>
                <ion-label>Weight Capacity of drone/drones = {{droneWeight}} kg</ion-label>
            </ion-item> -->
            <div *ngIf="!weightStatus">
                <ion-chip>
                    <ion-icon name="bug" color="danger"></ion-icon>
                    <ion-label>The packets exceed the drone carrying capacity</ion-label>
                </ion-chip>
                <!-- <ion-button (click)="onActivateSwarm()" size="small">Activate Swarm</ion-button> -->
            </div>
            <div *ngIf="activated">
                <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>

            </div>

            <div *ngIf="weightStatus">
                <ion-chip>
                    <ion-icon name="bug" color="success"></ion-icon>
                    <ion-label>The products are ready to be delivered</ion-label>
                </ion-chip>
            </div>



        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let drone of assignList">
        <ion-card class="card">
            <ion-item>

                <ion-icon src="../assets/icon/arrow-redo-sharp.svg" color="primary"></ion-icon>

                <ion-avatar slot="start">
                    <img src="{{drone.drone_image}}">
                </ion-avatar>
                <ion-label>Drone <b>{{drone.drone_name}}</b></ion-label>
                <ion-chip>
                    <ion-icon src="../assets/icon/cart-sharp.svg" color="primary"></ion-icon>
                    <ion-label>Capacity : {{drone.drone_capacity}} kg
                    </ion-label>
                </ion-chip>
            </ion-item>
            <ion-card-content>
                <ion-label class="float-right" slot="end"><span class="dot-red"></span>{{drone.drone_availability}}</ion-label>
            </ion-card-content>
        </ion-card>

        <ion-card *ngFor="let inventory of drone.inventoryItems">
            <ion-item>
                <ion-avatar slot="start">
                    <img src="{{inventory.inventory_image}}">
                </ion-avatar>

                <ion-label> {{inventory.inventory_name}} </ion-label>

                <!-- <ion-item>
                    <ion-label position="floating">Quantity</ion-label>
                    <ion-input [(ngModel)]="inventory.quantity" value="{{inventory.inventory_quantity}}" type="number"></ion-input>
                </ion-item> -->

                <!-- <ion-button (click)="onRemove(inventory)" color="danger" slot="end" fill="outline">
                    <ion-icon name="remove"></ion-icon>
                    Remove
                </ion-button> -->
            </ion-item>

            <ion-card-content>

                <div class="ion-float-left" *ngIf="inventory.inventory_availability">
                    <span class="dot-green"></span> Available
                </div>
                <div class="ion-float-left" *ngIf="!inventory.inventory_availability">
                    <span class="dot-red"></span> Unavailable
                </div>
                <ion-chip outline="true" class="ion-float-right">
                    <ion-icon src="../assets/icon/barbell-sharp.svg" color="primary"></ion-icon>
                    <ion-label>{{inventory.inventory_weight}} kg</ion-label>
                </ion-chip>
                <ion-chip outline="true" class="ion-float-right">
                    <ion-icon src="../assets/icon/cube-sharp.svg" color="primary"></ion-icon>
                    <ion-label>{{inventory.quantity}} Units</ion-label>
                </ion-chip>
            </ion-card-content>
        </ion-card>
    </ion-card>
    <ion-card *ngIf="!assignList">
        <img width="100%" height="50%" src="../../assets/gif/404.gif" alt="Description" />
    </ion-card>



</ion-content>