<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="global-font">
            Schedule
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card>
            <ion-item>
                <ion-avatar slot="start">
                    <img src="../../assets/drones/alpha.jpg">
                </ion-avatar>
                <ion-label>Drone <b>{{drone.name}}</b></ion-label>
                <ion-chip>
                    <ion-icon name="fitness" color="primary"></ion-icon>
                    <ion-label>Capacity : {{drone.capacity}} kg
                    </ion-label>
                </ion-chip>
                <ion-button color="danger" slot="end" fill="outline">
                    <ion-icon name="remove"></ion-icon>
                    Remove
                </ion-button>
            </ion-item>
            <ion-card-content>
                <ion-label class="float-right" slot="end"><span class="dot-red"></span>{{drone.availability}}</ion-label>
            </ion-card-content>
        </ion-card>



        <ion-button [disabled]="!weightStatus" (click)="goToMap()" expand="full">Deliver</ion-button>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label>Total Weight of Items = {{totalItemWeight}} kg</ion-label>
            </ion-item>

            <ion-item>
                <ion-label>Weight Capacity of drone/drones = {{droneWeight}} kg</ion-label>
            </ion-item>
            <div *ngIf="!weightStatus">
                <ion-chip>
                    <ion-icon name="bug" color="danger"></ion-icon>
                    <ion-label>The packets exceed the drone carrying capacity</ion-label>
                </ion-chip>
                <ion-button (click)="onActivateSwarm()" size="small">Activate Swarm</ion-button>
            </div>
            <div *ngIf="activated">
                <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>

            </div>

            <div *ngIf="weightStatus">
                <ion-chip>
                    <ion-icon name="bug" color="success"></ion-icon>
                    <ion-label>The packets are ready to be delivered</ion-label>
                </ion-chip>
            </div>



        </ion-card-content>
    </ion-card>


    <ion-card *ngFor="let inventory of inventoryList">
        <ion-item>
            <ion-avatar slot="start">
                <img src="../../assets/inventory/tranquilizer.jpg">
            </ion-avatar>
            <ion-label> {{inventory.name}} </ion-label>

            <ion-item>
                <ion-label position="floating">Quantity</ion-label>
                <ion-input [(ngModel)]="inventory.quantity" value="{{inventory.quantity}}" type="number"></ion-input>
            </ion-item>

            <ion-button (click)="onRemove(inventory)" color="danger" slot="end" fill="outline">
                <ion-icon name="remove"></ion-icon>
                Remove
            </ion-button>
        </ion-item>

        <ion-card-content>

            <div class="ion-float-left" *ngIf="inventory.availability">
                <span class="dot-green"></span> Available
            </div>
            <div class="ion-float-left" *ngIf="!inventory.availability">
                <span class="dot-red"></span> Unavailable
            </div>
            <ion-chip outline="true" class="ion-float-right">
                <ion-icon name="fitness" color="primary"></ion-icon>
                <ion-label>{{inventory.weight}} kg</ion-label>
            </ion-chip>
        </ion-card-content>
    </ion-card>
</ion-content>